@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background: #150220; /* Forest green background */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, ul li {
  color: #D9ED92; /* Light green color for text */
}

.main-title {
  width: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive; /* Pixel font for the main title */
}

.slider {
  margin: 80px 0;
  height: 200px;
  display: block;
  perspective: 1000px;
  position: relative;
  width: 100vw;
}

.slide {
  margin-left: -50px;
  display: inline-block;
  width: 400px;
  position: absolute;
  backface-visibility: hidden;
  transition: .4s all;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: double 1px transparent;
  border-radius: 30px;
  background-image: linear-gradient(#3FA34D, #3FA34D), /* Darker shade of neon green */
                    linear-gradient(to right, #4DEB71, #4DEB71); /* Lighter shade of neon green */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.slide-container {
  padding: 20px 30px;
}

.slide-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-container ul li {
  padding: 0;
}

.slide-container h2, .slide-container ul li {
  font-family: 'Press Start 2P', cursive; /* 8-bit style font */
  font-size: 18px; /* Adjusted font size */
}

.slide.active {
  z-index: 4;
}
